In [13]:
from json import dumps
from time import sleep

import pandas as pd
from kafka import KafkaProducer

In [2]:
producer = KafkaProducer(
    bootstrap_servers="localhost:9092",
    value_serializer=lambda x: dumps(x).encode('utf-8')
)

In [3]:
producer.send("demo_test", value="{'name': ''}")

In [8]:
df = pd.read_csv("indexProcessed.csv")

In [9]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [15]:
x = 0
producer.flush()
while x != 10:
    x += 1
    dict_stock = df.sample(1).to_dict(orient="records")[0]  #random record and making it into dictionary
    producer.send("demo_test", value=dict_stock)
    sleep(1)